body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    
}
header{
    height: 56px;
    transition-duration: .4s;
    background-color: coral;
    
}
header a{
    display: block;
    text-decoration: none;
    font-size: x-large;
    float:right;
    padding: 14px 16px;
    color: white;
    margin-right: 10px;
    
}   
header a:hover{
    background-color: rgb(161, 52, 33);
}
section{
    border: 0px solid red;
    height: 400px;
    width: 100%;
    margin-top: 0px;

}
h1{
    font-size: 40px;
    font-weight: bolder;
    
}
span{
    
    color: #ff8367;
    
}
.half-width{
    width:40%;
    float:left;
    margin-top: 2px;
    margin-left: 5%;
    padding-left: 2%;
}

#img-1{
    border: 0px solid green;
    width: 90%;
    margin-top: 30px;
    
}
#img-2{
    border: 0px solid green;
    width: 90%;
    margin-top: -150px;
    
}

.button{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 6px;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    color: white;
    font-weight: 700;
    transition: all linear .3s;
    
}
.button:hover{
    color:steelblue;
}

.project{
    height:500px;
    margin-top: 85px;
    background-color: #f9f9f9;
}
.project-content{
    /* display: flex; */
    width: 100%;
    border: 0px dashed;
    float: left;
}
.project-content div{
    width: 27%;
    float: left;
    margin-left: 80px;
    margin-right: -40px;
    
    box-shadow: 2px 2px 20px grey;
}
.project-content div img{
    width: 95%;
    margin: 7px 0 0 7px;
    
    
}

.inquiry{
    /* text-align: center; */
    border: 0px solid;
    height: 225px;
    width: 906px;
    background-image: url(images/Group_33094_1.png);
    background-size: cover;
    margin-left: 200px;
}
.inquiry h1{
    border: 0px solid;
    width: 300px;
    height: 0px;
    margin-left: 70px;
    margin-top: 67px;
    color: white;
    padding-top: 70px;
}
.button-chat{
    border: 0px solid blue;
    float: right;
    margin-right: 70px;
}
.test{
    width: 100%; 
    text-align: center; 
    font-weight: 800;
}
.test-content{
    border: 5px solid tomato;
    border-radius: 5px;
    width: 40%;
    height: 200px;
    float: left;
    margin-left: 75px;
}
footer{
    border: 0px solid red;
    text-align: center;
    width: 100%;

}
footer h4{
    color:grey;
}
footer h4{
    font-size: large;
}

.icon{
    width: 40px;
    height: 40px;
}